@import '../../variables';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: $main-color;
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Space items evenly with logo on the right */
  align-items: center; /* Center items vertically */
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-image {
  width: 30px; /* Adjust the width as needed */
  height: auto;
  margin-left: auto; /* Push the logo to the right */
}

.mat-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* The spacer takes up remaining space to push the icon to the right */
.spacer {
  flex: 1 1 auto;
}

.large-icon {
  font-size: 28px; /* You can adjust the size as needed */
  width: 28px;
  height: 28px;
}
