@import '../../variables';

.example-card {
  max-width: 1200px;
  margin: 0 auto;
  border: 5px solid $main-color;
  margin-bottom: 20px;

  mat-card-header {
    display: flex;
    align-items: center;
  }

  .icon {
    font-size: 30px;
    margin-right: 10px; /* Add a small margin between icon and text */
  }

  .mat-card-title {
    font-size: 25px;
  }

  .mat-card-subtitle {
    font-size: 20px;
  }

  .main-image {
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 10px solid rgba(248, 247, 247, 0.9);
    cursor: pointer;

    img {
      max-width: 50%;
      height: auto;
    }
  }

  .mat-card-content {
    width: 100%; /* Adjusted to full width for mobile responsiveness */
    text-align: center;
  }

  .message-help {
    margin: 0 auto;
    font-size: 18px;
  }
}

.info-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure even spacing between cards */
}

.single-project-card {
  width: calc(33.33% - 20px); /* Adjust width calculation for spacing */
  margin: 0 10px 20px; /* Margin for spacing between cards */
  box-sizing: border-box;
  max-width: 300px;
  border: 5px solid $main-color;
  display: flex;
  flex-direction: column; /* Ensure content is stacked vertically */
  min-height: 400px; /* Set a minimum height for consistency */
  /* Add padding for internal spacing */
  padding: 10px;
}

.project-card-image {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  object-fit: contain;
}

.mat-card-content {
  flex: 1; /* Allow content to expand and fill space */
  text-align: left; /* Align text left for better readability */
}

.description {
  margin-bottom: 10px; /* Added margin bottom for separation */
  text-align: left;
  white-space: pre-wrap; /* Allow wrapping and respect line breaks */
}

.mat-chip {
  margin-right: 5px; /* Adjusted spacing between chips */
  margin-bottom: 5px; /* Added margin bottom for separation */
}

@media (max-width: 768px) {
  .info-card {
    flex-direction: column; /* Stack cards vertically on smaller screens */
  }

  .single-project-card {
    width: 100%; /* Full width on smaller screens */
    margin: 0 0 20px 0; /* Adjust margin for mobile */
    max-width: unset; /* Remove max-width constraint */
  }
}
